
/* RESTAURANT INFO */

.restaurant_info {
    height: 100vh;
}

.restaurant_info .items {
    gap: 1rem
}

.restaurant_info .items .item img {
    width: 100%;
    height: 330px;
    margin-bottom: 3rem;
}

.restaurant_info .items .item strong {
    display: inline-block;
    color: var(--color-intro_area-strong);
    font-weight: var(--font-bolder);
    margin-bottom: 2rem;
}

.restaurant_info .items .item p {
    font-weight: var(--font-bold);
}

